<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>

  </head>

  <style>
      body{
        background: rgb(224,159,232);
      background: radial-gradient(circle, rgba(224,159,232,1) 0%, rgba(232,214,218,1) 100%);
      }
    * {
     font-family: "Alice"
      }
    </style>

<body>

<header>
  <div class="collapse bg-light" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-black">About</h4>
          <p class="text-black">Blurb Section</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-black">Media</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-black">Twitter</a></li>
            <li><a href="#" class="text-black">Facebook</a></li>
            <li><a href="#" class="text-black">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-light shadow-sm">
    <div class="container">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <img src="/assets/logo.jpg" width="60" height="60" alt="logo">
        <strong class="text-black">ArtHub</strong>
      </a>
      <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      <button class="navbar-toggler bg-black" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    
  </div>
  
</header>
 <br>

        
     
  <main>
    <div class="gallery">
      {{{body}}}
    </div>
  </main>
  
<!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

  {{!-- <footer class="fixed-bottom">
    <nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"><strong>ArtHub</strong></a>
    {{!-- <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form> --}}
  </div>
</nav>
  </footer> --}}


</html>