
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>

  <style>
      body{
        background: rgb(224,159,232);
      background: radial-gradient(circle, rgba(224,159,232,1) 0%, rgba(232,214,218,1) 100%);
      }
    * {
     font-family: "Alice"
      }
    </style>

<body>

<header>
  <div class="collapse bg-light" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-black">About</h4>
          <p class="text-black">Blurb Section</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-black">Media</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-black">Twitter</a></li>
            <li><a href="#" class="text-black">Facebook</a></li>
            <li><a href="#" class="text-black">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-light shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="/assets/logo.jpg" alt="logo">
        <strong class="text-black">ArtHub</strong>
      </a>
      <button class="navbar-toggler bg-black" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<hr>
    <div class="text-center">
  <a href="https://placeholder.com"><img src="https://via.placeholder.com/300"></a>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  
<hr>
<div class="text-center">
<button type="button" class="btn btn-light" class="follow button">Follow</button>
<button type="button" class="btn btn-light" class="collaborate">Collaborate</button>
</div>

<div class="mb-3 w-50">
  <label for="exampleFormControlTextarea1" class="form-label">Leave a Comment</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

<nav class="navbar bg-light position-relative bottom-0 w-100">
  <div class="container-fluid">
    <a class="navbar-brand">ArtHub</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-dark" type="submit">Search</button>
    </form>
  </div>
</nav>
  
</body>
</html>






