<body>
<hr>
    <div class="text-center">
  <a href="https://placeholder.com"><img src="https://via.placeholder.com/300"></a>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <p>{{user.name}}</p>
  <p>{{title}}</p>
  <p>{{description}}</p>
<hr>
<div class="text-center">
<button type="button" class="btn btn-light" class="follow button">Follow</button>
<button type="button" class="btn btn-light" class="collaborate">Collaborate</button>
</div>

<div class="mb-3 w-50">
  <label for="exampleFormControlTextarea1" class="form-label">Leave a Comment</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

<nav class="navbar bg-light position-relative bottom-0 w-100">
  <div class="container-fluid">
    <a class="navbar-brand">ArtHub</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-dark" type="submit">Search</button>
    </form>
  </div>
</nav>
  
</body>






