<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">{{name}}</h1>
        <p class="lead text-muted">Post some masterpieces here.</p>
        </div>
    </div>
  </section>

  {{#if projects.length}}
   <div class="col-md-6 project-list d-flex flex-column align-items-center">
    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <p>{{user.name}}</p>
        <p>{{project.title}}</p>
         <p>{{project.description}}</p>
      </div>
      {{/each}}
    </div>
    {{/if}}
<div class="col-md-12 d-flex flex-column align-items-center" id="newcontent">
  <form id="uploadfile">
    <button id="upload_widget" class="cloudinary-button">Upload files</button>
    {{!-- <script type="text/javascript">
      var myWidget = cloudinary.createUploadWidget({
        cloudName: 'my_cloud_name',
        uploadPreset: 'my_preset'
      }, (error, result) => {
        if (!error && result && result.event === "success") {
          console.log('Done! Here is the image info: ', result.info);
        }
      }
      )

      document.getElementById("upload_widget").addEventListener("click", function () {
        myWidget.open();
      }, false);
    </script> --}}
  </form>
  <br>
  <form id="newpost">
  <div class="mb-8 w-200">
    <label for="titletext" class="form-label">Title of Project</label>
    <textarea class="form-control" id="titletext" rows="3"></textarea>
  </div>
  {{!-- <script src="./js/uploadFile.js"></script> --}}
  <br>
  <div class="mb-3 w-200">
    <label for="descriptiontext" class="form-label">Leave a Description</label>
    <textarea class="form-control" id="descriptiontext" rows="3"></textarea>
  </div>
  </form>
  <button type="button" class="btn btn-light m-2">Post</button>
</div>
<script src="./js/profile.js"></script>
</main>


